Ce fichier a servi pour construire le script extractor.py

In [2]:
import pandas as pd
import sqlite3

In [3]:
database = sqlite3.connect("/home/irtimid/Documents/travail/leem/experiences/20150112_stefanoFarolfi_CPRInformation/data.sqlite")

In [40]:
partstemp = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", database)
parts = [p for p in partstemp.name]
parts

[u'parties',
 u'sessions',
 u'joueurs',
 u'partie_base',
 u'partie_revVolInfoCprREP',
 u'partie_questionnaireFinal',
 u'partie_revVolInfoCprOS',
 u'parties_joueurs__joueurs_parties',
 u'partie_revVolInfoCprREP_repetitions']

In [41]:
repeatedparts = [p for p in parts if "repetitions" in p]
repeatedparts

[u'partie_revVolInfoCprREP_repetitions']

In [74]:
filterperso = lambda x: "partie_" in x and "base" not in x and "repetitions" not in x
oneshotparts = [p for p in parts if filterperso(p) and 
               not any(q.find(p) != -1 for q in repeatedparts)]
#toremove = [p for p in oneshotparts if any(q.find(p) != -1 for q in repeatedparts)]
#toremove
oneshotparts

[u'partie_questionnaireFinal', u'partie_revVolInfoCprOS']

In [65]:
repeatedparts.append("partie_bienPublic_repetitions")
filterperso = lambda p: 0 in [q.find(p) for q in repeatedparts]
for p in filter(filterperso, oneshotparts):
    oneshotparts.remove(p)
oneshotparts

[u'partie_questionnaireFinal', u'partie_revVolInfoCprOS']

In [4]:
parts2 = [
        "_".join(p.split("_")[1:]) for p in parts.name if
        "partie_" in p and "repetitions" not in p and
        "base" not in p
    ]
parts2

[u'revVolInfoCprREP', u'questionnaireFinal', u'revVolInfoCprOS']

In [5]:
sessions = pd.read_sql("select sessions.* from sessions where sessions.isTest = 0 order by sessions.nom", database)
sessions

,id,nom,debut,fin,isTest,parametres,commentaires
0,3,201502200955,09:55:25,11:07:14,0,PARTIE revVolInfoCprOS\n# -*- coding: utf -8 -...,None
1,4,201503041251,12:51:04,14:34:53,0,PARTIE revVolInfoCprOS\n# -*- coding: utf -8 -...,None
2,5,201503101257,12:57:08,14:32:48,0,PARTIE revVolInfoCprOS\n# -*- coding: utf -8 -...,None
3,6,201503180924,09:24:14,11:03:21,0,PARTIE revVolInfoCprOS\n# -*- coding: utf -8 -...,Erreur dans le oneshot c'est le traitement bas...
4,7,201505130918,09:18:11,10:55:11,0,PARTIE revVolInfoCprOS\n# -*- coding: utf -8 -...,None
5,8,201505191251,12:51:44,14:58:38,0,PARTIE revVolInfoCprOS\n# -*- coding: utf -8 -...,Interruption de la session à la période 12 sui...
6,9,201505271252,12:52:23,14:46:14,0,PARTIE revVolInfoCprOS\n# -*- coding: utf -8 -...,None
7,10,201505281256,12:56:14,14:37:24,0,PARTIE revVolInfoCprOS\n# -*- coding: utf -8 -...,None

In [6]:
base = pd.read_sql(
    "SELECT s.nom as session, j.uid as joueur, m.* " \
    "from sessions s, joueurs j, parties p, parties_joueurs__joueurs_parties q, partie_base m " \
    "where s.isTest = 0 " \
    "and j.session_id = s.id " \
    "and q.joueurs_uid = j.uid " \
    "and p.id = q.parties_id " \
    "and m.partie_id = p.id " \
    "order by s.nom", 
    database
)
base.head()

,session,joueur,partie_id,simulation,automatique,fautesComprehension,paiementFinal,commentaires
0,201502200955,201502200955_j_0,29,0,0,0,13.544250,None
1,201502200955,201502200955_j_1,31,0,0,1,13.064250,les instructions ne sont pas trés clair. de mê...
2,201502200955,201502200955_j_2,33,0,0,0,13.467750,None
3,201502200955,201502200955_j_3,35,0,0,0,13.981875,
4,201502200955,201502200955_j_4,37,0,0,0,13.647750,

In [7]:
oneshotparts = ["revVolInfoCprOS", "questionnaireFinal"]
repeatedparts = ["revVolInfoCprREP"]

parts_all = oneshotparts + repeatedparts
partsdata = dict()
for p in parts_all:

    # one-shot part
    if p in oneshotparts:
        req = \
            "SELECT s.nom as session, j.uid as joueur, m.* " \
            "from sessions s, joueurs j, parties p, " \
            "parties_joueurs__joueurs_parties q, partie_{} m " \
            "where s.isTest = 0 " \
            "and j.session_id = s.id " \
            "and q.joueurs_uid = j.uid " \
            "and p.id = q.parties_id " \
            "and m.partie_id = p.id " \
            "order by s.nom".format(p)

    # repeated part
    elif p in repeatedparts:
        req = \
            "SELECT s.nom as session, j.uid as joueur, r.* " \
            "from sessions s, joueurs j, parties p, " \
            "parties_joueurs__joueurs_parties q, partie_{0} m, " \
            "partie_{0}_repetitions r " \
            "where s.isTest = 0 " \
            "and j.session_id = s.id " \
            "and q.joueurs_uid = j.uid " \
            "and p.id = q.parties_id " \
            "and m.partie_id = p.id " \
            "and r.partie_partie_id = m.partie_id " \
            "order by s.nom".format(p)

    partsdata[p] = pd.read_sql(req, database)

In [8]:
partsdata["revVolInfoCprOS"].head()

,session,joueur,partie_id,RVIOS_traitement,RVIOS_groupe,RVIOS_groupe_place,RVIOS_groupe_identifiant,RVIOS_periode,RVIOS_decision,RVIOS_information,RVIOS_information_valeur,RVIOS_temps_decision,RVIOS_decision_groupe,RVIOS_gain_ecus
0,201502200955,201502200955_j_19,69,0,201502200955_g_4,1,B,0,10,NaN,NaN,10,34,38.32500
1,201502200955,201502200955_j_12,70,0,201502200955_g_1,0,A,0,10,NaN,NaN,10,31,41.98125
2,201502200955,201502200955_j_17,71,0,201502200955_g_3,0,A,0,6,NaN,NaN,10,36,23.70000
3,201502200955,201502200955_j_18,72,0,201502200955_g_0,2,C,0,6,NaN,NaN,31,30,31.12500
4,201502200955,201502200955_j_15,73,0,201502200955_g_3,2,C,0,10,NaN,NaN,31,36,35.70000

In [9]:
partsdata["questionnaireFinal"].head()

,session,joueur,partie_id,naissance,genre,nationalite,couple,etudiant,etudiant_discipline,etudiant_niveau,experiences,fratrie_nombre,fratrie_rang,sportif,sportif_type,sportif_competition,religion_place,religion_croyance,religion_nom
0,201502200955,201502200955_j_0,30,1994,1,36,0,1,1,2,1,2,2,0,NaN,NaN,1,1,4
1,201502200955,201502200955_j_1,32,1989,0,36,0,1,5,7,1,0,0,1,0,0,4,4,7
2,201502200955,201502200955_j_2,34,1992,0,36,0,1,15,5,1,1,2,1,1,0,4,3,2
3,201502200955,201502200955_j_3,36,1992,1,36,0,1,9,2,1,3,3,1,0,0,3,3,7
4,201502200955,201502200955_j_4,38,1994,0,36,0,1,5,3,1,2,1,0,NaN,NaN,3,3,4

In [11]:
partsdata["revVolInfoCprREP"].head()

,session,joueur,id,partie_partie_id,RVIREP_traitement,RVIREP_groupe,RVIREP_groupe_place,RVIREP_groupe_identifiant,RVIREP_periode,RVIREP_decision,RVIREP_information,RVIREP_information_valeur,RVIREP_temps_decision,RVIREP_decision_groupe,RVIREP_gain_periode,RVIREP_gain_cumule
0,201502200955,201502200955_j_19,81,89,0,201502200955_g_4,1,B,1,10,NaN,NaN,29,33,39.58125,39.58125
1,201502200955,201502200955_j_19,101,89,0,201502200955_g_4,1,B,2,10,NaN,NaN,10,33,39.58125,79.16250
2,201502200955,201502200955_j_19,121,89,0,201502200955_g_4,1,B,3,10,NaN,NaN,26,35,37.03125,116.19375
3,201502200955,201502200955_j_19,141,89,0,201502200955_g_4,1,B,4,10,NaN,NaN,6,35,37.03125,153.22500
4,201502200955,201502200955_j_19,161,89,0,201502200955_g_4,1,B,5,10,NaN,NaN,7,40,30.00000,183.22500

In [41]:
data = pd.merge(partsdata["revVolInfoCprREP"], partsdata["revVolInfoCprOS"], on=["session", "joueur"])
data = pd.merge(data, partsdata["questionnaireFinal"], on=["session", "joueur"])

In [44]:
data

         session             joueur   id  partie_partie_id  RVIREP_traitement  \
0   201502200955  201502200955_j_19   81                89                  0
1   201502200955  201502200955_j_19  101                89                  0
2   201502200955  201502200955_j_19  121                89                  0
3   201502200955  201502200955_j_19  141                89                  0
4   201502200955  201502200955_j_19  161                89                  0
5   201502200955  201502200955_j_19  181                89                  0
6   201502200955  201502200955_j_19  201                89                  0
7   201502200955  201502200955_j_19  221                89                  0
8   201502200955  201502200955_j_19  241                89                  0
9   201502200955  201502200955_j_19  261                89                  0
10  201502200955  201502200955_j_19  281                89                  0
11  201502200955  201502200955_j_19  301                89                  0
12  201502200955  201502200955_j_19  321                89                  0
13  201502200955  201502200955_j_19  341                89                  0
14  201502200955  201502200955_j_19  361                89                  0
15  201502200955  201502200955_j_19  381                89                  0
16  201502200955  201502200955_j_19  401                89                  0
17  201502200955  201502200955_j_19  421                89                  0
18  201502200955  201502200955_j_19  441                89                  0
19  201502200955  201502200955_j_19  461                89                  0
20  201502200955  201502200955_j_12   82                90                  0
21  201502200955  201502200955_j_12  102                90                  0
22  201502200955  201502200955_j_12  122                90                  0
23  201502200955  201502200955_j_12  142                90                  0
24  201502200955  201502200955_j_12  162                90                  0
25  201502200955  201502200955_j_12  182                90                  0
26  201502200955  201502200955_j_12  202                90                  0
27  201502200955  201502200955_j_12  222                90                  0
28  201502200955  201502200955_j_12  242                90                  0
29  201502200955  201502200955_j_12  262                90                  0
30  201502200955  201502200955_j_12  282                90                  0
31  201502200955  201502200955_j_12  302                90                  0
32  201502200955  201502200955_j_12  322                90                  0
33  201502200955  201502200955_j_12  342                90                  0
34  201502200955  201502200955_j_12  362                90                  0
35  201502200955  201502200955_j_12  382                90                  0
36  201502200955  201502200955_j_12  402                90                  0
37  201502200955  201502200955_j_12  422                90                  0
38  201502200955  201502200955_j_12  442                90                  0
39  201502200955  201502200955_j_12  462                90                  0
40  201502200955  201502200955_j_17   83                91                  0
41  201502200955  201502200955_j_17  103                91                  0
42  201502200955  201502200955_j_17  123                91                  0
43  201502200955  201502200955_j_17  143                91                  0
44  201502200955  201502200955_j_17  163                91                  0
45  201502200955  201502200955_j_17  183                91                  0
46  201502200955  201502200955_j_17  203                91                  0
47  201502200955  201502200955_j_17  223                91                  0
48  201502200955  201502200955_j_17  243                91                  0
49  201502200955  201502200955_j_17  263                91                  0
50  201502200955  201502200955_j_17  283                91                  0
51  201502200955  201502200955_j_17  303                91                  0
52  201502200955  201502200955_j_17  323                91                  0
53  201502200955  201502200955_j_17  343                91                  0
54  201502200955  201502200955_j_17  363                91                  0
55  201502200955  201502200955_j_17  383                91                  0
56  201502200955  201502200955_j_17  403                91                  0
57  201502200955  201502200955_j_17  423                91                  0
58  201502200955  201502200955_j_17  443                91                  0
59  201502200955  201502200955_j_17  463                91                  0
             ...                ...  ...               ...                ...

       RVIREP_groupe  RVIREP_groupe_place RVIREP_groupe_identifiant  \
0   201502200955_g_4                    1                         B
1   201502200955_g_4                    1                         B
2   201502200955_g_4                    1                         B
3   201502200955_g_4                    1                         B
4   201502200955_g_4                    1                         B
5   201502200955_g_4                    1                         B
6   201502200955_g_4                    1                         B
7   201502200955_g_4                    1                         B
8   201502200955_g_4                    1                         B
9   201502200955_g_4                    1                         B
10  201502200955_g_4                    1                         B
11  201502200955_g_4                    1                         B
12  201502200955_g_4                    1                         B
13  201502200955_g_4                    1                         B
14  201502200955_g_4                    1                         B
15  201502200955_g_4                    1                         B
16  201502200955_g_4                    1                         B
17  201502200955_g_4                    1                         B
18  201502200955_g_4                    1                         B
19  201502200955_g_4                    1                         B
20  201502200955_g_1                    0                         A
21  201502200955_g_1                    0                         A
22  201502200955_g_1                    0                         A
23  201502200955_g_1                    0                         A
24  201502200955_g_1                    0                         A
25  201502200955_g_1                    0                         A
26  201502200955_g_1                    0                         A
27  201502200955_g_1                    0                         A
28  201502200955_g_1                    0                         A
29  201502200955_g_1                    0                         A
30  201502200955_g_1                    0                         A
31  201502200955_g_1                    0                         A
32  201502200955_g_1                    0                         A
33  201502200955_g_1                    0                         A
34  201502200955_g_1                    0                         A
35  201502200955_g_1                    0                         A
36  201502200955_g_1                    0                         A
37  201502200955_g_1                    0                         A
38  201502200955_g_1                    0                         A
39  201502200955_g_1                    0                         A
40  201502200955_g_3                    0                         A
41  201502200955_g_3                    0                         A
42  201502200955_g_3                    0                         A
43  201502200955_g_3                    0                         A
44  201502200955_g_3                    0                         A
45  201502200955_g_3                    0                         A
46  201502200955_g_3                    0                         A
47  201502200955_g_3                    0                         A
48  201502200955_g_3                    0                         A
49  201502200955_g_3                    0                         A
50  201502200955_g_3                    0                         A
51  201502200955_g_3                    0                         A
52  201502200955_g_3                    0                         A
53  201502200955_g_3                    0                         A
54  201502200955_g_3                    0                         A
55  201502200955_g_3                    0                         A
56  201502200955_g_3                    0                         A
57  201502200955_g_3                    0                         A
58  201502200955_g_3                    0                         A
59  201502200955_g_3                    0                         A
                 ...                  ...                       ...

    RVIREP_periode  RVIREP_decision  RVIREP_information  \
0                1               10                 NaN
1                2               10                 NaN
2                3               10                 NaN
3                4               10                 NaN
4                5               10                 NaN
5                6               10                 NaN
6                7               10                 NaN
7                8               10                 NaN
8                9               10                 NaN
9               10               10                 NaN
10              11               10                 NaN
11              12               10                 NaN
12              13               10                 NaN
13              14               10                 NaN
14              15               10                 NaN
15              16               10                 NaN
16              17               10                 NaN
17              18               10                 NaN
18              19               10                 NaN
19              20               10                 NaN
20               1                8                 NaN
21               2                9                 NaN
22               3                7                 NaN
23               4                9                 NaN
24               5                8                 NaN
25               6                9                 NaN
26               7                8                 NaN
27               8                9                 NaN
28               9               10                 NaN
29              10                7                 NaN
30              11               10                 NaN
31              12                8                 NaN
32              13               10                 NaN
33              14               10                 NaN
34              15               10                 NaN
35              16               10                 NaN
36              17               10                 NaN
37              18                9                 NaN
38              19                8                 NaN
39              20               10                 NaN
40               1                4                 NaN
41               2                4                 NaN
42               3                6                 NaN
43               4                8                 NaN
44               5                9                 NaN
45               6                3                 NaN
46               7                5                 NaN
47               8                4                 NaN
48               9               10                 NaN
49              10               10                 NaN
50              11               10                 NaN
51              12               10                 NaN
52              13                8                 NaN
53              14               10                 NaN
54              15               10                 NaN
55              16                8                 NaN
56              17               10                 NaN
57              18                9                 NaN
58              19               10                 NaN
59              20               10                 NaN
               ...              ...                 ...

    RVIREP_information_valeur  RVIREP_temps_decision  RVIREP_decision_groupe  \
0                         NaN                     29                      33
1                         NaN                     10                      33
2                         NaN                     26                      35
3                         NaN                      6                      35
4                         NaN                      7                      40
5                         NaN                      7                      35
6                         NaN                      7                      30
7                         NaN                      8                      34
8                         NaN                     10                      40
9                         NaN                      9                      39
10                        NaN                      8                      35
11                        NaN                      7                      35
12                        NaN                      6                      31
13                        NaN                      7                      35
14                        NaN                     36                      32
15                        NaN                     12                      35
16                        NaN                     11                      40
17                        NaN                     18                      40
18                        NaN                      5                      40
19                        NaN                      8                      40
20                        NaN                      8                      28
21                        NaN                      7                      28
22                        NaN                      6                      26
23                        NaN                      7                      28
24                        NaN                      5                      31
25                        NaN                      6                      34
26                        NaN                      8                      35
27                        NaN                      5                      38
28                        NaN                      6                      35
29                        NaN                      8                      36
30                        NaN                      6                      38
31                        NaN                      8                      37
32                        NaN                      8                      38
33                        NaN                      7                      37
34                        NaN                      8                      39
35                        NaN                      8                      38
36                        NaN                      6                      34
37                        NaN                      8                      36
38                        NaN                      7                      37
39                        NaN                      6                      39
40                        NaN                      7                      30
41                        NaN                      5                      28
42                        NaN                      5                      31
43                        NaN                      5                      37
44                        NaN                      5                      38
45                        NaN                      3                      33
46                        NaN                      6                      33
47                        NaN                      4                      31
48                        NaN                      6                      37
49                        NaN                      6                      39
50                        NaN                      9                      40
51                        NaN                      5                      38
52                        NaN                      5                      35
53                        NaN                      5                      36
54                        NaN                      4                      38
55                        NaN                      3                      38
56                        NaN                      3                      39
57                        NaN                      3                      39
58                        NaN                      8                      40
59                        NaN                      4                      40
                          ...                    ...                     ...

    RVIREP_gain_periode  RVIREP_gain_cumule  partie_id_x  RVIOS_traitement  \
0              39.58125            39.58125           69                 0
1              39.58125            79.16250           69                 0
2              37.03125           116.19375           69                 0
3              37.03125           153.22500           69                 0
4              30.00000           183.22500           69                 0
5              37.03125           220.25625           69                 0
6              43.12500           263.38125           69                 0
7              38.32500           301.70625           69                 0
8              30.00000           331.70625           69                 0
9              31.48125           363.18750           69                 0
10             37.03125           400.21875           69                 0
11             37.03125           437.25000           69                 0
12             41.98125           479.23125           69                 0
13             37.03125           516.26250           69                 0
14             40.80000           557.06250           69                 0
15             37.03125           594.09375           69                 0
16             30.00000           624.09375           69                 0
17             30.00000           654.09375           69                 0
18             30.00000           684.09375           69                 0
19             30.00000           714.09375           69                 0
20             39.30000            39.30000           70                 0
21             42.30000            81.60000           70                 0
22             38.32500           119.92500           70                 0
23             42.30000           162.22500           70                 0
24             35.98125           198.20625           70                 0
25             35.32500           233.53125           70                 0
26             31.03125           264.56250           70                 0
27             29.92500           294.48750           70                 0
28             37.03125           331.51875           70                 0
29             26.70000           358.21875           70                 0
30             32.92500           391.14375           70                 0
31             28.33125           419.47500           70                 0
32             32.92500           452.40000           70                 0
33             34.33125           486.73125           70                 0

In [47]:
data.to_csv("/home/irtimid/temp/cpri.csv", sep=";", encoding="utf-8", index=False, na_rep=None)

In [48]:
len(partsdata)

3